%header.main-header
	.header-logo.pure-u-lg-1-5
		= link_to root_path do
			.pure-u-lg-1-3
				= image_tag 'ToGOjp.png'
			.pure-u-1-2
				%p ToGoDelivery.com
	%nav.menu-center.pure-u-lg-1-2
		.pure-u-lg-1-3
			%a(href="#" title="Fast Food" class="food")
				%p ¿Hambre?
				%p ¡Comida a Domicilio!
		.pure-u-lg-1-3
			%a(href="#" title="How it Works?" class="food")
				%p ¿Necesita Ayuda?
				%p ¿como funciona?
		.pure-u-lg-1-3
			- locale_flag = I18n.locale == :es ? :en : :es
			= link_to locale_path(locale: locale_flag), method: :post do
				- if locale_flag == :es
					= image_tag '', alt: 'Español'
				- elsif locale_flag == :en
					= image_tag '', alt: 'English'
	%nav.menu-right.pure-u-lg-1-4
		.header-link.pure-u-lg-1-3
			%a(href="#" title="How it Works?") 
				%i.fa.fa-mobile
				ToGO App
		.header-link.pure-u-lg-11-24
			= link_to new_user_session_path do
				%i.fa.fa-user-o
				Login/SignUp
			= link_to 'Logout', destroy_user_session_path, method: :delete if current_user

%header.mobile-header